<div class="top-image">
  <div class="top-introduction">
  <strong>メンズ用化粧品レビューサイト「COSMEN」</strong>
  <p>
    忙しい朝や一日の終わり、化粧品はあなたに潤いと癒しを与えます。<br>
    なにげない毎日のシーンに、化粧品を届けたい。<br>
  </p>
  </div>
</div>
<div class="all-view">
  <div class="title">
    <h2>NEW ITEMS</h2>
  </div>
  <%= render 'public/items/item', items: @items %>
</div>