<h1>新着商品</h1>
<h4>ようこそ、COSMENへ！<br>このサイトは、男性用の化粧品のレビューサイトです。<br>化粧品診断から自分に合った化粧品を提案します。</h4>

<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>
