<div class="review-view">
  <div class="title">
    <h2>口コミ履歴一覧</h2>
  </div>
  <% if @reviews.any? %>
    <div class="subtitle">
      <h5>口コミ件数 <%= @reviews_count %> 件</h6>
    </div>
    <%= render 'review', reviews: @reviews %>
  <% else %>
    <div class="subtitle">
      <h5>口コミはありません</h5>
    </div>
  <% end %>
</div>