@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.btn {
    text-decoration: none;
    color: white;
    font-weight:  bold;
    padding: 0.6em 1.5em;
}

.btn-flat-border {
  display: inline-block;
  margin: 0.5em;
  text-decoration: none;
  color: #d3d3d3;
  border: solid 2px #d3d3d3;
  border-radius: 8px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #d3d3d3;
  color: white;
}

.actions {
  display: inline-block;
  margin: 1em auto;
  text-align: center;
}

.introduction{
  width: 70%;
  border: solid 2px ;
  border-radius: 8px;
  margin: 0 auto;
  padding: 1.5em;
}

.form {
  margin: 0 auto;
  background-color: #f5f5f5;
  width: 70%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  width: 90%;
  height: 100px;
}

.field {
  width: 100%;
  margin: 8px;
}

select {
  text-align: center;
}

.all-view{
  width: 80%;
  margin: 1em auto 3em;
}

.title {
  display: inline-box;
  text-align: center;
}

h2 {
  border-bottom: solid 3px black;
  margin: 1em;
  display: inline-block;
}

.subtitle {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin: 1.5em;
}

.top-image {
  width: 100%;
  height: 300px;
  background-image: url('/assets/top_image.jpg');
  background-size: cover;
  background-position: top;
}

.top-introduction {
  font-size: 1em;
  width: 50%;
  padding: 1.5em;
  margin: 0 auto;
  color: white;
}

.item-show {
  width: 80%;
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1em;
  justify-content: space-evenly;;
  align-items: center;
}

.items {
  width: 70%;
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.item-image{
  padding: 2px;
  margin: 5px;
}

.item-info{
  width: 550px;
  margin-left: 1em;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.review-item {
  width: 70%;
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1em;
  justify-content: space-evenly;;
  align-items: center;
}

.rank-image {
  flex-flow: column;
}

.search-form {
  margin-bottom: 15px;
  text-align: center;
}

.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.2em;
  overflow: hidden;
}
.search_field {
  outline: 0;
  height: 2.0em;
  border-radius: 10px;
}

.search_btn {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.2em;
  border: none;
  background: #000000;
  border-radius: 3px;
  color: #fff;
  outline : none;
  width: 3.5em;
  height: 1.9em;
  display: inline-block;
  vertical-align: middle;
}

.item-name {
   font-weight: bold;
   font-size: 1.1em;
   color: #000080;
   margin-bottom: 15px;
}

.show-brand{
  font-size: 0.8em;
}

.total-rating-value{
  color: #0000cd;
  font-weight: bold;
  font-size: 1.3em;
}

.rate {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.rate-avg {
  text-align: center;
  font-weight: bold;
  margin: auto 0;
}

.review {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  // color:  #191970;
  width: 70%;
  margin: 0 auto;
}

.review-index {
  width: 65%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.review-show {
  border: dotted 2px #778899;
  border-radius: 10px;
  width: 430px;
  margin: 3px;
  padding: 10px;
  text-align: center;
  background-color: #f0f8ff;
}

.review-name {
  font-weight: bold;
  color: #000080;
}

.review-view {
  width: 90%;
  margin: 1em auto 3em;
}

tr {
  text-align: left;
}

td {
  margin-left: 3px;
}

.mypage {
  text-align: center;
}

.icon {
  display: flex;
  margin-left: 10px;
}

.item-introduction {
  display: flex;
  flex-direction: column;
}

.review-comment {
  height: 100px;
  margin-top: 10px;
  text-align: left;
}

.delete-btn {
  margin-top: 1em;
}

.radio-button {
  display: none;
}

.label {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #e6e6fa;
  border-radius: 3px;
  margin: 1em;
}

.label:hover {
  background-color: #87cefa;
}

.radio-button:checked + label {
  background-color: #6495ed;
}

.result {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3em;
}

.component {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.diagnosis {
  width: 80%;
  margin: 5em auto;
  text-align: center;
}

.rario-box {
  text-align: center;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
}

.record {
  text-align: center;
}

.user-id, .user-age, .user-sex, .t-genre, .t-release, .t-create {
  width: 100px;
}

.user-name {
  width: 250px;
}

.user-status {
  width: 150px;
}

.table tr:nth-child(odd) {
  background-color: #eee;
}

.item-index {
  margin: 2em auto;
}

.t-name {
  width: 400px;
}

.t-id {
  width: 60px;
}

.t-brand {
  width: 200px;
}

.t-edit {
  width: 150px;
}

.introduction {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  text-align: left;
}

.explanation {
  width: 60%;
  height: 170px;
  margin: 0 auto;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  padding: 1em;
}

.t-review {
  width: 50%;
  margin: 0 auto 1em;
}

.t-review th {
  text-align: center;
  width: 140px;
}

.button {
  text-align: center;
  margin-botom: 1em;
}

a {
  text-decoration: none !important;
}

.message {
  list-style-type: none;
  text-align: center;
}

.new-img {
  width: 100px;
}

.sidebar {
  text-align: center;
}

.pagination {
  justify-content: center;
  margin-top: 3em;
}

.pagination>li>a {
  border: none;
  color: black;
}

.pagination>.active>a {
  background-color: #b0c4de;
}