@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.btn {
    text-decoration: none;
    color: white;
    font-weight:  bold;
    padding: 0.6em 1.5em;
}

.btn-flat-border {
  display: inline-block;
  // padding: 0.3em 1em;
  margin: 0.5em;
  text-decoration: none;
  color: #d3d3d3;
  border: solid 2px #d3d3d3;
  border-radius: 8px;
  transition: .4s;

}

.btn-flat-border:hover {
  background: #d3d3d3;
  color: white;
}

.actions {
  display: inline-block;
  margin-bottom: 5px;
}

.introduction{
  border: solid 2px ;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: 1.5em;
}

.introduction_title {
  font-weight: bold;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  background-color: #f5f5f5;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  width: 90%;
  height: 100px;
}

.field {
  width: 100%;
  margin: 8px;
}

select {
  text-align: center;
}


span {
  font-size: 0.8em;
}

.all-view{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

.title {
  display: inline-box;
  text-align: center;
  // margin: 1em;
}

h2 {
  border-bottom: solid 3px black;
  margin: 1em;
  display: inline-block;
}

.subtitle {
  text-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin: 1.5em;
}

.top-image {
  width: 100%;
  height: 300px; /* 高さ300px */
  background-image: url('/assets/top_image.jpg');
  background-size: cover;
  background-position: top;
}

.top-introduction {
  font-size: 1em;
  width: 50%;
  padding: 1.5em;
  margin: 0 auto;
  color: white;
}

.item {
  width: 80%;
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  color: #191970 ;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1em;
  // justify-content: center;
}

.item-image{
  padding: 2px;
  margin: 5px;
}

.item-info{
  margin-left: 1em;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.review-item{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-image {
  flex-flow: column;
}

.search-form {
  margin-bottom: 15px;
  text-align: center;
}

.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.2em;
  overflow: hidden;
}
.search_field {
  outline: 0;
  height: 2.0em;
  border-radius: 10px;
}
.search_btn {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.2em;
  border: none;
  background: #000000;
  border-radius: 3px;
  color: #fff;
  outline : none;
  width: 3.5em;
  height: 1.9em;
  display: inline-block;
  vertical-align: middle;
}

.item-name {
   font-weight: bold;
   font-size: 1.2em;
   color: #00008b ;
}

.show-brand{
  font-size: 0.8em;
}

.total-rating-value{
  color: #0000cd;
  font-weight: bold;
  font-size: 1.3em;
}

.item-show{
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #191970 ;
  font-weight: bold;
  padding: 1em;
}

myChart {
//   width: 50px;
//   height: 50px;
//   margin: 5px;
 }

.rate {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.rate-avg {
  margin-left: 100px;
}

.review {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color:  #191970;
  width: 70%;
  margin: 0 auto;
}

.review-index {
  margin: 30px;
  display: flex;
  justyify-content: center;
  flex-wrap: wrap;
}

.review-show {
  border: dotted 2px #778899;
  border-radius: 10px;
  width: 48%;
  margin: 3px;
  padding: 10px;
  text-align: center;
}

table {
  margin: 0 auto;
  margin-bottom: 5px;
}

tr {
  text-align: left;
}

td {
  margin-left: 3px;
}

.mypage {
  text-align: center;
}

.icon {
  display: flex;
  margin-left: 10px;
}

.item-introduction {
  display: flex;
  flex-direction: column;
}

.review-comment {
  height: 70px;
}

.delete-btn {
  margin-top: 1em;
}

.radio-button {
  display: none;
}

label {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #e6e6fa;
  border-radius: 3px;
  margin: 1em;
}

label:hover {
  background-color: #87cefa;
}

.radio-button:checked + label {
  background-color: #6495ed;
}

.result {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3em;
}

.component {
  display: flex;
  align-items: center;
  flex-direction: column;
}